---
layout: default
---

<div id="home">
  <h1>High Verbosity Blog</h1>
	 {% for post in site.posts %}
        <div class="content">
			  <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
					{{ post.excerpt | markdownify }}
				{{ post.date | date_to_string }} | <a href="{{ site.baseurl }}{{ post.url }}">Read More...</a>
		</div>
	 {% endfor %}
</div>


<!--	 
<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">

  
  
  
  
	 {% for post in site.posts %}
		  <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
				{{ post.url }}	  
		  
	 {% endfor %}
	
  </ul>
</div>
-->